<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="parser" class="ru.lazarev.springcourse.parser.impl.CSVParserImpl"/>
    <bean id="printer" class="ru.lazarev.springcourse.printer.impl.PrinterImpl"/>
    <bean id="reader" class="ru.lazarev.springcourse.reader.impl.CSVReaderImpl"/>
    <bean id="questionService" class="ru.lazarev.springcourse.service.impl.QuestionFromCsvFileServiceImpl">
        <constructor-arg index="0" ref="reader"/>
        <constructor-arg index="1" ref="parser"/>
        <constructor-arg index="2" ref="printer"/>
        <constructor-arg name="fileName" value="qa.csv"/>
    </bean>
</beans>
