<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
</style>

<head>
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8"/>
    <title>List of all books</title>
</head>

<body>
<h3>Books:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">book title</td>
        <td th:text="${book.author}">book author</td>
        <td th:text="${book.genre}">book author</td>
        <td>
            <div style="display: inline-block;">
                <form th:action="@{/books/edit}" th:method="get">
                    <input type="hidden" name="id" th:value="${book.id}"/>
                    <button type="submit">Edit</button>
                </form>
            </div>


            <div style="display: inline-block;">
                <form th:action="@{/books/{id}(id=${book.id})}" th:method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit">Delete</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>

</table>
<br>

<div>
    <form th:action="@{/books/new}" th:method="get">
        <button type="submit">new book</button>
    </form>
</div>

</body>
</html>
