<!-- edit.html -->
<div class="edit-book">
    <h3>Edit Book</h3>
    <form>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" ng-model="book.title">
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" id="author" ng-model="book.author">
        </div>
        <div class="form-group">
            <label for="author">Genre</label>
            <input type="text" id="text" ng-model="book.genre">
        </div>
        <button class="btn btn-primary" ng-click="updateBook()">Save</button>
    </form>
</div>






